/* Soluzione qui */
/*Modalità Tablet(sopra i 768px)*/

@media all and (min-width:768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-origin {
    display: block;
    display: inline-block;

  }

  .recipe-name,
  .recipe-origin {
    font-size: 30px;
  }

  .quick-notes li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px
  }

  .social-networks .btn {
    font-size: 20px;
    padding: 10px 50px;
  }
}