/* Soluzione qui */
/*Modalità Tablet(sopra i 768px)*/

@media all and (min-width:768px) {
  #topbar {
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-origin {
    display: block;
    display: inline-block;

  }

  .recipe-name,
  .recipe-origin {
    font-size: 30px;
  }

  .quick-notes li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px
  }

  .social-networks .btn {
    font-size: 20px;
    padding: 10px 50px;
  }

  .ads {
    display: block;
    background-image: url(../screens/banner.png);
    height: 110px;
    background-size: cover;

  }



  .clearfix img {
    background-image: url(../screens/tiramisu.jpg);
    float: left;
    width: 40%;
    height: 200px;
    background-size: cover;
    margin-right: 30px;
  }
}



/*Modalità Desktop(sopra i 992px*/

@media all and (min-width:992px) {

  .recipe-name,
  .recipe-origin {
    font-size: 50px;
  }
}